html{
    font-size: 1px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    font-size: 12rem;
}
*
:after,
:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: 1;
}
i {
    font-style: normal;
}
a {
    text-decoration: none;
    color:inherit;
}
a:hover {
    color: inherit;
}
input {
    border: 1px solid #000;
    padding:5px 10px;
    font-size: 12rem;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    outline: none;
    text-align: center;
    border: 1px solid #000;
    opacity: 0.8;
    padding:5px 10px;
    font-size: 12rem;
}
button:hover {
    opacity: 1;
}
button:active {
    outline: 1px solid #A6C7FF;
}
h1 {
    font-size: 36rem;
}
h2 {
    font-size: 30rem;
}
h3 {
    font-size: 24rem;
}
h4 {
    font-size: 18rem;
}
h5 {
    font-size: 14rem;
}
h6 {
    font-size: 12rem;
}
p {
    font-size: 12rem;
}
select{
    padding:5px 10px;
}
option{
    padding:5px 10px;
}
textarea{
    padding:5px 10px;
}
video{
    background-color: #ccc;
}
audio{
    background-color: #ccc;
}
img{
    max-width: 100%;
}